body {
    font-family: Arial, sans-serif;

    /* Set background image */
    background-image: url('Img/TtcHomePage.png');
    /* Adjust background properties */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent image from repeating */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4c4c4c;
    color: black; /* Set text color to white */
}

.title {
    width: 60%;
}

.menu {
    width: 40%;
    text-align: right;
}

.content {
    padding: 20px;
}

.image {
    text-align: center;
    margin-top: 20px;
}

.image img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
}