body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFF00;
}

.title {
    width: 60%;
}

.menu {
    width: 40%;
    text-align: right;
}

.image {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #FFFF00;
    color: #FFFF00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e8e1d;
}

body {
    /* Set background image */
    background-image: url('Img/TtcHomePage.png');
    /* Adjust background properties */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent image from repeating */
}