body {
    font-family: Arial, sans-serif;

    /* Set background image */
    background-image: url('Img/TtcHomePage.png');
    /* Adjust background properties */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent image from repeating */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFF00;
    color: white; /* Set text color to white */
}

.title {
    width: 60%;
}

.menu {
    width: 40%;
    text-align: right;
}

.image {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: red; /* Set button background color to red */
    color: white; /* Set button text color to white */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8e8e1d;
}